@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;500&display=swap');

/* colors */
:root {
    --black: #111111;
    --green: #1B5B31;
    --green-shadow: #184828;
    --grey: #F5F0EC;
    --beige: #DCC1AB;
}

/* js props */
.rotate {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transition: .3s cubic-bezier(.17,.67,.21,1.69);
}

.rotate-reset {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transition: .3s cubic-bezier(.17,.67,.21,1.69);
}

.shadow {
    background: linear-gradient(360deg, #DCC1AB 0%, rgba(214, 183, 158, 0.00) 100%);
}

.fade {
    transition: all .3s ease;
}

/* navbar styles */
.nav-item {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: var(--black);
}

.nav-item:hover {
    color: var(--green);
    cursor: pointer;
}

.nav-item:hover path{
    fill: var(--green);
}


.offer:hover .drop-menu{
    visibility: visible;
    display: inline;
}

.drop-item {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    
    z-index: 20;
    position: relative;

    background-color: #fff;
    padding: 20px 24px;
    transition: .3s cubic-bezier(.17,.67,.21,1.69);
}

.drop-item:hover {
    color: var(--grey);
    cursor: pointer;
}

.drop-item::before,
.drop-item::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: var(--green);
  transition: .3s cubic-bezier(.17,.67,.21,1.69);
}

.drop-item::after {
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
}

.drop-item:hover::after { 
    width: 100%; 
}

.offer:hover .drop-menu{
    visibility: visible;
    display: inline;
}

/* burger menu */
.burger-menu {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* search bar */
#search-box {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: var(--black);
}

#search-box .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#search-box .container .close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

#search-box .container .close:hover {
    opacity: 1;
}

#search-box .container .close:before, #search-box .container .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: white;
}

#search-box .container .close:before {
    transform: rotate(45deg);
}

#search-box .container .close:after {
    transform: rotate(-45deg);
}

#search-box form {
    position: relative;
}

#search-box input {
    background-color: var(--grey);
    border: 1px solid var(--grey);
    box-shadow: none;
    padding: 12px 74px 12px 20px;
    font-size: 24px;
    height: 84px;
    border-radius: 24px;

    display: block;
    color: var(--black);
    width: 360px;
    justify-content: center;
}

#search-box .container input:focus {
    outline: none;
}

/* hero styles */
.hero {
    background-color: var(--beige);
    height: calc(100vh - 72px);
    max-height: calc(100vh - 72px);
}

.slide-btn {
    display: flex;
    padding: 12px 24px 14px 24px;
    align-items: center;
    gap: 8px;
    border-radius: 200px;
    
    transition: all .2s ease;
}

.slide-btn svg {
    transition: all .2s ease;
}

.slide-btn:nth-child(1) {
    background-color: var(--green);
    color: var(--grey);
}

.slide-btn:nth-child(2) {
    border-radius: 200px;
    border: 1px solid var(--green);   
    color: var(--green); 
}

.slide-btn:nth-child(1):hover {
    background-color: var(--green-shadow);
}

.slide-btn:nth-child(2):hover {
    color: var(--green-shadow);
    border-color: var(--green-shadow);;
}

.slide-btn:nth-child(2):hover svg {
    margin-top: 4px;
}

.slide-btn:nth-child(2):hover path {
    fill: var(--green-shadow);
}

.slide-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--black);
    align-self: stretch;
    transition: all .3s cubic-bezier(.17,.67,.21,1.69);
}

.slide-text h3 {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--black);

    transition: all .5s cubic-bezier(.17,.67,.21,1.69);
}

.slide-pic {
    background-size: cover;
    background-position: center;
    background: lightgray 50% / no-repeat;
    position: relative;
    z-index: 0;
}

.slide-pic::before,
.slide-pic::after {
    content: '';
    background: var(--grey);
    height: 50%;
    width: 0;
    position: absolute;
    transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -webkit-transition:0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.slide-pic::before {
    top: 0;
    left: 0;
    right: auto;
}

.slide-pic::after {
    bottom: 0;
    right: 0;
    left: auto;
}

/* animation toggle */
.slide-pic.changed::before {
    width: 100%;
    right: 0;
    left: auto;
}
.slide-pic.changed::after {
    width: 100%;
    left: 0;
    right: auto;
}

/* slide change arrows */
.slide-btn-box {
    background-color: var(--grey);
    padding: 24px 32px;
}

.slide-btn-box button:hover path{
    fill: var(--green);
}



/* Offer section */
.offer-box {
    background-color: var(--grey);
    font-family: 'Inter', sans-serif;
}

.offer-box h2 {
    color: var(--green);
}

.offer-box h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
}

.offer-box h3 em {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    color: var(--black);
}

.offer-box p {
    color: var(--black);
}

.offer-card {
    display: flex;
    height: 370px;
    padding: 48px 40px;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 28px;

    transition: all .2s cubic-bezier(.17,.67,.21,1.69);
}

.offer-card h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
    transition: all .3s cubic-bezier(.17,.67,.21,1.69);
}

.offer-card p {
    font-family: 'Inter', sans-serif;
    color: var(--black);
    transition: all .4s cubic-bezier(.17,.67,.21,1.69);
}

.offer-card button {
    color: var(--green);
    border-bottom: 1px solid var(--green);
    width: auto;
    align-self: flex-start;

    transition: all .3s cubic-bezier(.17,.67,.21,1.69);
}

.offer-card button p {
    font-family: 'Inter', sans-serif;
    color: var(--green);
}

.offer-card button path {
    fill: var(--green);
}

.offer-card:hover {
    cursor: pointer;
}

.offer-card:hover h3 {
    margin-top: 5px;
    color: var(--green);
}

.offer-card:hover button {
    gap: 13px;
}

.offer-card:hover p {
    margin-top: 2px;
}


/* offer click data */
.click-data h3 {
    color: var(--black);
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.click-data p {
    color: var(--black);
    font-size: 14px;
}

.click-data span {
    color: var(--beige);
    font-weight: 300;
    font-style: italic;
    font-family: 'Inter', sans-serif;
    align-self: flex-end;
}

/* About section */
.about-section {
    background-color: var(--green);
    height: 100vh;
}

.about-section h2 {
    font-family: 'Inter', sans-serif;
    color: var(--grey);
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.12px;
}

.about-section h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--grey);
    letter-spacing: -1.44px;
}

.about-section em {
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.about-section p {
    color: var(--grey);
    font-family: 'Inter', sans-serif;
    line-height: 150%;
    letter-spacing: -0.16px;
}

.about-img {
    background-image: url("../src/assets/about_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.about-btn {
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 12px 22px 14px 22px;
    align-items: center;
    align-self: flex-start;
    gap: 8px;
    z-index: 0;

    border-radius: 200px;
    border: 1px solid var(--grey);
    color: var(--grey);

    font-family: 'Inter', sans-serif;
    line-height: 150%;

    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.about-btn path {
    fill: var(--grey);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.about-btn::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: var(--grey);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
    border-radius: 200px;
}

.about-btn:hover::after {
    width: 100%;
}

.about-btn:hover {
    border-color: var(--beige);
    color: var(--green-shadow);
}

.about-btn:hover path {
    fill: var(--green-shadow)
}

/* Portfolio section */
.portfolio {
    background-color: var(--beige);
    transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
}

.portfolio h2 {
    color: var(--green);
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: -0.12px;
}

.portfolio h3 {
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
    line-height: 115%;
    letter-spacing: -1.44px;
    font-weight: 500;
}

.portfolio em {
    font-family: 'Inter', sans-serif;
    letter-spacing: normal;
}

.portfolio button {
    border-radius: 200px;
    border: 1px solid var(--black);
    align-self: center;
    margin-bottom: 15px;

    color: var(--black, #111);
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 150%;
}

.portfolio button path {
    fill: var(--black);
}

.portfolio button svg {
    transition: all 0.2s cubic-bezier(.5, .24, 0, 1);
}

.portfolio button:hover svg {
    margin-top: 4px;
}

#macy-container {
    width: 100%;
    overflow: hidden;
    transition: height 0.3s ease;
}

#macy-container a:hover {
    cursor: pointer;
}

.new-child {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Contact section */
.contact {
    background-color: var(--grey);
}

.contact p {
    color: var(--grey, #F5F0EC);

    font-family: 'Inter', sans-serif;
    line-height: 150%;
    letter-spacing: -0.16px;
}

.contact button {
    display: flex;
    padding: 10px 24px 12px 24px;
    align-items: center;
    gap: 10px;

    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 150%; /* 24px */

    color: var(--green);
    border-radius: 200px;
    background: var(--grey);

    transition: all 0.2s ease;
}

.contact button:hover {
    background-color: var(--black);
    color: var(--grey); 
}

.contact .rect {
    background-color: var(--green);
}

.rect h3 {
    color: var(--grey);
    font-family: 'Montserrat', sans-serif;
    line-height: 120%;
    letter-spacing: -2px;
}

.rect em {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 1px;
}

/* Footer section */

footer {
    background-color: var(--black);
}

footer .cta p{
    color: var(--grey);

    font-family: 'Inter', sans-serif;
    line-height: 150%;
    letter-spacing: -0.16px;
}

footer .cta button {
    display: flex;
    padding: 12px 24px 14px 24px;
    align-items: center;
    gap: 10px;

    border-radius: 200px;
    background: var(--green);
    
    color: var(--grey);
    text-align: center;
    font-family: 'Inter', sans-serif;
    line-height: 150%; 
    transition: all 0.2s ease;
}

footer hr {
    background-color: var(--grey);
}

footer a {
    color: var(--grey);
    text-align: center;

    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.14px;
}

footer span {
    color: var(--grey, #F5F0EC);
    
    font-family: 'Inter';
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.14px;
}

footer button:hover {
    background-color: var(--grey);
    color: var(--green);
}